@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@500;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  margin: 0 auto;
  margin-top: 32px;
  padding-bottom: 104px;
  /* transform: rotate(-0.5deg); */
}

.header {
  background-image: url(https://avatars.mds.yandex.net/i?id=7dc20cbf9f2888220f63bb5b96a7ae5a1daee20b-8534972-images-thumbs&n=13);
  max-width: 65%;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: space-between;
}

.home_p {
  font-family: "climate crisis", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration: none;
}

.head_menu {
  font-family: "climate crisis", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #b80000;
  text-decoration: none;
}

.head_menu:hover {
  color: #292424;
}

.home2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home2 > h1 {
  font-family: "tilt wrap", sans-serif;
  font-size: 25px;
  line-height: 22px;
  font-weight: 900;
  color: #b80000;
  text-decoration: none;
}

.ux {
  font-family: "Tilt wrap", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #070707;
}

.language {
  font-family: "Tilt Warp", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  transform: rotate(-20deg);
  text-decoration: none;
}

.language:hover {
  color: #631111;
  font-weight: 600;
}

.line {
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.fon_head {
  background-image: url(../img/BSPP2266.png);
  width: 100%;
  text-align: center;
}

/* --------------------------------- */
.nav1 {
  background: #F6F6F6;
  margin: 0 auto;
}

.nav1_start {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 107px;
}

.nav1_start > p {
  font-family: "Tilt wrap", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #292525;
}

.nav1_start > h1 {
  font-family: "Tilt Warp", sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* --------------------------- */
.nav2 {
  background-color: #fff;
  border: solid;
}

.nav2_start {
  text-align: center;
  max-width: 65%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
}

.nav2_start > h1 {
  font-family: "Tilt wrap", sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.nav2_start > p {
  font-family: "Tilt Warp", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.programm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}

.programm_h1 {
  font-family: "Tilt wrap", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #828282;
  padding-top: 10px;
  padding-bottom: 20px;
  text-decoration: none;
}

.programm_h1:hover {
  color: #000000;
}

.grave_img3 {
  width: 90px;
}

.grave_img2 {
  width: 90px;
}

.grave_img3:hover, .grave_img2:hover {
  width: 91px;
}

/* ---------------------------------- */
.nav3_start {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav3_start > a {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 99px;
  font-family: "Tilt Warp", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #070707;
}

.nav3_start > h1 {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 47px;
  font-family: "Tilt wrap", sans-serif;
  font-size: 54px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

/* ============================== */
.nav4 {
  background-image: url();
  background-repeat: no-repeat;
}

.nav4_start {
  text-align: center;
}

.nav4_start > h1 {
  padding-top: 114px;
  padding-bottom: 20px;
  font-family: "Tilt Warp", sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.nav4_start > p {
  font-family: "Tilt wrap", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #201f1f;
}

.icon_left {
  padding-left: 61px;
  width: 40px;
}

.icon > a > img {
  width: 40px;
  border-radius: 100px;
}

button {
  background-color: #111;
  margin-top: 29px;
  margin-bottom: 86px;
  border-radius: 35px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(38, 0, 255);
  margin-top: 29px;
  margin-bottom: 86px;
  border-radius: 1px;
  cursor: pointer;
  transition: 1s;
}

button > p {
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

button > p:hover {
  color: rgb(227, 253, 255);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.7s;
}

@media (max-width: 500px) {
  .icon > a > img {
    width: 40px;
    border-radius: 100px;
  }
  .container {
    margin: 0 auto;
    margin-top: 32px;
    padding-bottom: 20px;
  }
  .header {
    background: rgb(255, 255, 255);
    max-width: 75%;
    margin: 0 auto;
  }
  .home2 {
    display: flex;
    margin-right: 115px;
    margin-bottom: 16px;
  }
  .home2 > h1 {
    margin-right: 80px;
  }
  .programm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
  }
  .programm .programm_h1 {
    margin-top: -10px;
    font-size: 12px;
  }
  .grave_img {
    margin-bottom: 30px;
    margin-top: -15px;
  }
  .home {
    opacity: 0;
  }
  .nav2_start {
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .head_menu {
    font-family: "Tilt wrap", sans-serif;
    font-size: 0.1px;
    line-height: 22px;
    color: #828282;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .home_p {
    font-size: 0.1px;
    line-height: 22px;
    color: #070707;
  }
  .home2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
  }
  .fon_head {
    width: 100%;
    margin-top: -30px;
  }
  .language {
    font-family: "Tilt wrap", sans-serif;
    font-size: 0.1px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
  }
  .line {
    border: 0.1px #828282;
  }
  .nav1_start {
    padding-top: 45px;
    width: 270px;
    margin: 0 auto;
  }
  .grave_img2 {
    width: 150px;
    height: 150px;
  }
  .grave_img3 {
    width: 150px;
    height: 150px;
  }
  .icon_left {
    padding-left: 20px;
  }
  .nav3_start > p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 45px;
    font-family: "Tilt wrap", sans-serif;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
  }
  .nav3_start > h1 {
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: "Tilt wrap", sans-serif;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }
  .programm_h1 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding-bottom: 20px;
  }
  .nav1_start > h1 {
    font-family: "Tilt wrap", sans-serif;
    font-size: 23px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav1_start > p {
    font-family: "Tilt wrap", sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #070707;
  }
  .nav2_start > p {
    font-family: "Tilt wrap", sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #070707;
  }
  .nav2_start > h1 {
    font-family: "", sans-serif;
    font-size: 27px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }
  button {
    background-color: #111;
    margin-top: 29px;
    margin-bottom: 86px;
    border-radius: 35px;
  }
  button > p {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav3_start .nav3_start_img {
    margin-top: -90px;
  }
  .nav3_start a {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .nav3_start .icon_left {
    padding-left: 10px;
  }
  .nav4_start {
    margin-top: -170px;
  }
}/*# sourceMappingURL=index.css.map */
